@model List<HousingOffersDisplayModel>


<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        <b>Ogłoszenia</b>
    </div>
    
    @using (Html.BeginForm("Index","HousingOffers", FormMethod.Get))
    {
        <p>
            Znajdź po mieście:
            <input type="text" class="form-control" placeholder="Miasto" name="searchString">
            <button type="submit">Szukaj</button></p>
    }
    <div class="panel-body">
        <table class="table">
                <tr>
                    <th>
                       Zdjęcie
                    </th>
                    <th>
                        Tytuł ogłoszenia
                    </th>
                    <th>
                        Miasto
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="data:@item.ImageFormat;base64,@item.Image" width="200"/>
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            @Html.ActionLink("Szczegóły", "Offer", new{offerId=item.Id})
                        </td>
                    </tr>
                }
            </table>
    </div>

</div>
