@model HousingOfferDisplayModel



<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
    </div>                    
    <div class="panel-body">
        <img src="data:@Model.ImageFormat;base64,@Model.Image" width="400"/>
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-10 col-form-label">Tytuł ogłoszenia</label>
                </td>
                <td>
                    <p>@Model.Title</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-10 col-form-label">Opis</label>
                </td>
                <td>
                    <p>@Model.Description</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-10 col-form-label">Telefon kontaktowy</label>
                </td>
                <td>
                    <p>@Model.PhoneNumber</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-10 col-form-label"> Miasto</label>
                </td>
                <td>
                    <p>@Model.City</p>
                </td>
            </tr>



        </table>
               

    </div>
</div>